<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	<nav class="sidebar" th:fragment="menu">
		<div class="conteBotones">
			<div class="box-btnInicio">
				<button id="btn-inicio" class="btn btn-warning mt1"><i class="Content"></i></i> Filtros Reportes </button>
			</div>
			<div id="boxbuttons" class="box-ini-btnsFilt">
				<button id="btnSelectAreas" class="btn btn-light"> Reporte Areas </button>
				<button id="btnCalService" class="btn btn-light"> Calificación Servicio </button>
				<button id="btnNivSatis" class="btn btn-light"> Nivel de Satisfaccion</button>
				<button id="btnFilFechas" class="btn btn-light"> Reporte Fechas </button>
			</div>
		</div>
	</nav>
</body>
</html>













