<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <title>Login</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <!-- Custom styles for this template -->
    <link href="#" th:href="@{/css/login.css}" rel="stylesheet" />
  </head>
  <body>
  	<div class="fondo-principal">
		<div class="principal">
		    <div class="contenedor">
				<div class="caja-login">
	 		      <form class="" action="#" th:action="@{/loginOK}" th:object="${userCredentials}" method="get">
			        <div class="font-ingresar">
			        	<span class="glyphicon glyphicon-user"></span>
			        </div>
			        <label for="inputEmail" class="sr-only">Usuario</label>
			        	<div class="box-user">
			        		<input type="text" class="form-control" placeholder="Usuario" th:field="*{username}"/> <!--   th:field="*{username}"-->
			        	</div><div class="box-user"></div>
			        <label for="inputPassword" class="sr-only">Contraseña</label>
			        	<div class="box-passwd">
			        		<input type="password" class="form-control" placeholder="Contraseña" th:field="*{password}"/> <!--   th:field="*{password}"-->
			        	</div>
			        <div th:if="${error != null}" class="alert alert-danger" role="alert">Usuario o Contraseña Invalida</div>
			        <div th:if="${logout != null}" class="alert alert-info" role="alert">Salida Exitosa</div>
			        <div class="boton-login">
				        <button class="btn btn-lg btn-primary btn-block" type="submit">
				        	<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Ingresar
				        </button>
			        </div>
			      </form>
				</div>
		    </div> <!-- /container -->
		</div>
	</div>
</body>
</html>