/*
 * Base structure
 */
html, body {
	height: 100%;
	position: static;
}

body {
	padding-top: 56px;
	padding-left: 0;
} 

/*
 * main layout
 */
.layout-main {
    display: flex;
    min-height: calc(100vh - 52px);
    overflow: hidden;
}


.cajaEscudo{
	padding: 6px;
}

.escudo{
	width: 350px;
	height: 88px;
	background-image: url("/image/escunifinal.jpg");
	background-size: cover;
}

.logout{
	width: 100%;
	height: 100%;
	background: yellow;
}


/*
 * Content
 */
.layout-content {
    width: 100%;
    background: white;
    overflow: hidden;
}

.fondo-principal{
	width: 35%;
	height: 100%;
	background: #1f1f6a;
	padding:  20px;
	float: left;
	margin-top: 80px;
	margin-left: 20px;
	border-radius: 6px;
	
}

.principal{
	background: rgba(255, 255, 255, 0.8) ;
	width: 100%;
	height: 100%;
	padding:10px;
	border-radius: 6px;
}

.contenedor {
	background: white;
	width: 90%;
	margin: auto;
	margin: 15px;
	padding: 20px;
	border-radius: 10px;
}











